@model IEnumerable<ToDoList.Models.ToDo>

@if (Model.Any(x => x.Priority == "Alta"))
{
    <div class="panel panel-warning">
        <div class="panel-heading">
            Tarefas com prioridade <strong>Alta:</strong> @Model.Count(x => x.Priority == "Alta")
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Initial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Final)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Priority == "Alta")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Initial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Final)
                                </td>
                                <td class="btn-group-sm">
                                    <a class="btn btn-info btn-sm detail" data-id="@item.Id"><i class="glyphicon glyphicon-info-sign"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm edit" data-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-danger btn-sm delete" data-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

}
